@page "/import"
@inject IConfiguration config
@inject IFileService fileService

<PageTitle>UDI kodetest revised</PageTitle>

<h3>Importer JSON-data</h3>

@if (rootFolderConfigured)
{
    <p>
        Velg datafil i JSON-format, maks 1 MB:<br />
        <InputFile OnChange="LoadFile" />
    </p>
}

@if (errors.Count > 0)
{
    <h4>Feil</h4>
    <ul class="text-danger">
        @foreach (var error in errors)
        {
            <li>@error</li>
        }
    </ul>
}

@code {
    private bool rootFolderConfigured = true;
    private List<string> errors = new();
    private string rootFolder = string.Empty;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        rootFolder = config.GetValue<string>("FileStorage") ?? string.Empty;
        if (string.IsNullOrEmpty(rootFolder))
        {
            errors.Add("Rotmappe (FileStorage) for lagring av JSON datafiler er ikke konfigurert.");
            rootFolderConfigured = false;
        }
    }

    private async Task LoadFile(InputFileChangeEventArgs e)
    {
        errors.Clear();

        var result = await fileService.ImportFileAsync(e.File);

        if (!result.Success)
        {
            errors.AddRange(result.Errors);
        }
    }
}